<p
  hx-get="{% url 'advanced-htmx:product-random-event-ajax' %}"
  {% if request.headers.hx_request %}
    hx-trigger="{{ htmx_triggers.products_list_page_changed }} from:body"
  {% else %}
    hx-trigger="load delay:2.5s"
  {% endif %}
  hx-swap="outerHTML"
  class="m-2 font-semibold text-gray-950"
>
  Random product when custom event(changed page):
  {% if random_product %}
    {{ random_product }}
  {% else %}
    <img class="inline w-8" src="https://htmx.org/img/bars.svg" alt="Result loading..."/>
  {% endif %}
</p>
