<form
  class="container mx-auto"
  hx-post="{% url 'advanced-htmx:car-create-ajax' %}"
  hx-swap="outerHTML"
  hx-encoding="multipart/form-data"
>
  <div class="mb-6">
    <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Car name</label>
    <input
      type="text"
      id="name"
      name="name"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="Car"
      value="{{ form.name.value }}"
      required
    />
    {% if form.errors.name %}
      {% for error in form.errors.name %}
        <p class="mt-2 text-sm text-red-600 dark:text-red-500">
          {{ error }}
        </p>
      {% endfor %}
    {% endif %}
  </div>
  <div class="mb-6">
    <label for="price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Car price</label>
    <input
      type="number"
      step=".01"
      name="price"
      id="price"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      value="{{ form.price.value }}"
      required
    />
    {% if form.errors.price %}
      {% for error in form.errors.price %}
        <p class="mt-2 text-sm text-red-600 dark:text-red-500">
          {{ error }}
        </p>
      {% endfor %}
    {% endif %}
  </div>
  <div class="mb-6">
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="photo">Car Photo</label>
    <input class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="photo" name="photo" type="file">
    {% if form.errors.photo %}
      {% for error in form.errors.photo %}
        <p class="mt-2 text-sm text-red-600 dark:text-red-500">
          {{ error }}
        </p>
      {% endfor %}
    {% endif %}
  </div>
  <button
    type="submit"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  >
    Submit
  </button>
</form>
