<main id="table-products-list" class="container mx-auto transition-all">
  <div>
    <div class="relative overflow-x-auto">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">Product name</th>
            <th scope="col" class="px-6 py-3">Color</th>
            <th scope="col" class="px-6 py-3">Category</th>
            <th scope="col" class="px-6 py-3">Price</th>
          </tr>
        </thead>
        <tbody>
          {% for product in object_list %}
            {% include "advanced_htmx/partials/table_product_item.html" %}
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="flex flex-col items-center">
      {% if page_obj.has_next or page_obj.has_previous %}
        <div class="inline-flex mt-2 xs:mt-0">
          {% if page_obj.has_previous %}
            <a
              hx-get="{% url 'advanced-htmx:table-products-list-ajax' %}?page={{ page_obj.previous_page_number }}"
              hx-target="#table-products-list"
              hx-swap="outerHTML swap:100ms"
              hx-disabled-elt="this"
              hx-indicator="#spinner"
              {% if page_obj.previous_page_number > 1 %}
                  hx-replace-url="{% url 'advanced-htmx:table' %}?page={{ page_obj.previous_page_number }}"
              {% else %}
                  hx-replace-url="{% url 'advanced-htmx:table' %}"
              {% endif %}
              href="#"
              class="flex items-center justify-center px-4 h-10 mr-3 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
            >
              Previous
            </a>
          {% endif %}
          {% if page_obj.has_next %}
            <a
              hx-get="{% url 'advanced-htmx:table-products-list-ajax' %}?page={{ page_obj.next_page_number }}"
              hx-target="#table-products-list"
              hx-swap="outerHTML swap:100ms"
              hx-disabled-elt="this"
              hx-indicator="#spinner"
              hx-replace-url="{% url 'advanced-htmx:table' %}?page={{ page_obj.next_page_number }}"
              href="#"
              class="flex items-center justify-center px-4 h-10 mr-3 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
            >
              Next
            </a>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</main>

{% if request.headers.hx_request %}
  <span id="products-list-counter" hx-swap-oob="true">{{ page_obj.number }}</span>
{% endif %}
