{% extends "advanced_htmx/base.html" %}
{% load static %}

{% block head_extra %}
  <link rel="stylesheet" href="{% static 'css/table.css' %}">
{% endblock head_extra %}

{% block content %}
    <section class="m-4">
      {% include "advanced_htmx/mini_partials/product_random_event.html" %}
      {% include "advanced_htmx/mini_partials/product_random.html" %}
      {% include "advanced_htmx/mini_partials/products_counter.html" with page_number=page_obj.number %}
    </section>
    {% include "advanced_htmx/partials/table_products_list.html" %}
{% endblock content %}
